<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='css/main.css'>
    </head>

    <body>
        <h4> Total de la muestra analizada y salario medio</h4>
        <table id="customers">
            <tr>
              <th>Muestra total</th>
              <th>Salario medio</th>
            </tr>
            <tr>
              <td><%= text2 %></td>
              <td><%= text5 %></td>
            </tr>  
          </table>     
    </body>

    <body>
        <h4> Resultado de salario más alto de la muestra:</h4>
        <table id="customers">
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Posición</th>
              <th>Salario Máximo</th>
            </tr>
            <tr>
              <td><%= text1 %></td>
              <td><%= text3 %></td>
              <td><%= text4 %></td>
              <td><%= text0 %> $</td>
              </tr>  
          </table>
          <h4> Cantidad de puestos laborales con la misma posición laboral</h4>
          <!-- Tabla del número de trabajadores con el mismo puesto y el gasto que representan sobre el total-->
          <table id="customers">
              <tr>
                <th>Posiciones similares</th>
                <th>Porcentaje de gasto en salario sobre el total para esta posición</th>
              </tr>
              <tr>
                <td><%= Puestos_cantidad %></td>
                <td><%= porcentaje_salario_posicion %> %</td>
              </tr>  
            </table>
            <!-- Tabla de salarios ordenadores de mayor a menor de la posición del salario más alto-->
            <h4> Existen <%= Puestos_cantidad %> puestos similares a este. A continuación se muestran el resto de personas del mismo puesto laboral. </h4>
    </body>

<body>
<!-- TABLA ORDENADA DE PUESTOS SIMILARES AL MÁXIMO SALARIO-->
    <table id="customers">
      <tr>
        <th>Posición Salarial</th>
        <th>Id</th>
        <th>Nombre</th>
        <th>Posición laboral</th>
        <th>Salario base</th>
        <th>Salario base+complementos</th>
      </tr>         
        <% array_datos_ejs_ordenado.forEach(function(array_datos_ejs_ordenado) { %>
              <tr>
                <td><%= array_datos_ejs_ordenado.array_key %></td>
                <td><%= array_datos_ejs_ordenado.array_id %></td>
                <td><%= array_datos_ejs_ordenado.array_nombre %> $</td>  
                <td><%= array_datos_ejs_ordenado.array_puesto %></td>
                <td><%= array_datos_ejs_ordenado.array_salario_base %> $</td>
                <td><%= array_datos_ejs_ordenado.array_salario %> $</td>
              </tr> 
          <% }); %>
    </table>
</body>

</html>
